<!DOCTYPE html>
<html>
<head>
    <title>{{ event.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand">
    🎟️ Event Registration System
</a>

        <div>

            <a
                href="/events/"
                class="btn btn-outline-light me-2"
            >
                Events
            </a>

            <a
                href="/events/my-registrations/"
                class="btn btn-outline-light"
            >
                My Registrations
            </a>

        </div>

    </div>

</nav>
<body>
<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="card-title">
                {{ event.title }}
            </h2>

            <hr>

            <p>
                <strong>Description:</strong>
                {{ event.description }}
            </p>

            <p>
                <strong>Date:</strong>
                {{ event.date }}
            </p>

            <p>
                <strong>Location:</strong>
                {{ event.location }}
            </p>

            <p>
                <strong>Capacity:</strong>
                {{ event.capacity }}
            </p>

            <p>
                <strong>Registered:</strong>
                {{ registered_count }}
            </p>

            <p>
                <strong>Available Seats:</strong>
                {{ available_seats }}
            </p>

            {% if available_seats > 0 %}

            <a
                href="/events/register/{{ event.id }}/"
                class="btn btn-success"
            >
                Register
            </a>

            {% else %}

            <button
                class="btn btn-danger"
                disabled
            >
                Event Full
            </button>

            {% endif %}

            <a
                href="/events/"
                class="btn btn-secondary"
            >
                Back
            </a>

        </div>

    </div>

</div>

</body>
<footer class="bg-dark text-white text-center p-3 mt-5">
    <p>
        Event Registration System |
        Developed by Leelaprasath
    </p>
</footer>
</html>